.nocturne-accordion {
  width: 100%;
}

.nocturne-accordion__item + .nocturne-accordion__item {
  border-top: 1px solid var(--nocturne-gilt-30);
}

.nocturne-accordion__item[data-disabled] {
  opacity: var(--nocturne-disabled-opacity);
}

.nocturne-accordion__header {
  margin: 0;
}
