.abyss-checkboxgroup {
  display: flex;
  flex-direction: column;
  gap: var(--abyss-space-3);
}

.abyss-checkboxgroup__items {
  display: flex;
  flex-direction: column;
  gap: var(--abyss-space-3);
  margin-left: var(--abyss-space-2);
  padding-left: var(--abyss-space-4);
  border-left: 1px solid var(--abyss-line);
}
