.abyss-previewcard__positioner {
  z-index: var(--abyss-z-menu);
}

.abyss-previewcard__popup {
  position: relative;
  width: 286px;
}

.abyss-previewcard__surface {
  display: block;
  padding: var(--abyss-space-4);
  overflow: hidden;
}

.abyss-previewcard__body {
  position: relative;
}
